.Image {
    margin: 25px 0;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.Image img {
    max-width: none;
    max-height: 375px;
    margin: 0 50px;
}

.Image p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}