.Image {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.Image img {
    max-width: none;
    max-height: 320px;
    margin: 0 50px;
}

.Image p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #8d0018;
    font-size: 0.75em;
}