.Description {
    line-height: normal;
    font-size: 1em;
    color: #333333;
    font-family: 'Helvetica Neue', cursive;
    text-align: center;
    font-style: italic;
    margin-top: 75px;
    margin-bottom: 25px;
}

.on {
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.off {
    transition: 0.5s ease;
}